<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">{{ shop_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Начало
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if user.is_client %}
                <li class="nav-item">
                    <a href="{% url "cart-list" %}" class="btn btn-outline-light">
                        <span id="cart-count">{{ count|default_if_none:0 }}</span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="#fff"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                        </svg>
                    </a>
                </li>
            {% endif%}
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {% if user.is_client %}
                                    <a class="dropdown-item" href="{% url "order-list" %}">Список заказов</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url "auth_password_change" %}">Сменить пароль</a>
                                <a class="dropdown-item" href="{% url "auth_password_reset" %}">Сбросить пароль</a>
                                <a class="dropdown-item" href="{% url "auth_logout" %}">Выйти</a>
                            </div>
                        </div>

                    {% else %}
                        <a class="nav-link" href="{% url "auth_login" %}">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">{{ shop_name }}</h1>
            <div class="list-group">
                {% block left_list %}
                {% endblock %}
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            {% block full_page %}
                <div class="my-4" ></div>

                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
                {% block pagination %}
                {% endblock %}
                <!-- /.row -->
            {% endblock %}
        </div>
        <!-- /.col-lg-9 -->

    </div>


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; {{ shop_name }} {% now 'Y' %}</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% block script %}
{% endblock %}
</body>

</html>
