{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/floating-labels.css">
{% endblock %}
{% block content %}

    <form class="form-signin" method="post" action="">
        <h1>Вход</h1>
        {% csrf_token %}

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="username" required
                   autofocus>
            <label for="inputEmail">Email</label>
        </div>

        <div class="form-label-group">
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль"
                   required>
            <label for="inputPassword">Пароль</label>
        </div>

        <input type="submit" value="{% trans 'Log in' %}"/>
        <input type="hidden" name="next" value="{{ next }}"/>
        <div class="row">
            <div class="col">
                <a href="{% url "auth_password_reset" %}">Забвли пароль</a>
            </div>
            <div class="col text-right">
                <a href="{% url "registration_register" %}">Регистрация</a>
            </div>
        </div>
    </form>
{% endblock %}